httpx
beautifulsoup4
lxml
pydantic-settings
structlog
unidecode
python-dotenv
asyncio
aiofiles
click
llama-parse
llama-index-core
regex
google-generativeai
openai
pydantic
tenacity
chromadb
twilio
aiosmtplib
jinja2
apscheduler
rich
click

# Dashboard Backend
fastapi[standard]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
